@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.woff'), url('../fonts/Roboto-Regular.woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.woff'), url('../fonts/Roboto-Medium.woff2');
  font-style: normal;
  font-weight: 400;
}

html {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Roboto-Regular', sans-serif;
  color: #727272;
  background-color: #fff;
  box-sizing: border-box;
}

ul[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  /* letter-spacing: 0.05em; */
}

.button {
  display: block;
  padding: 25px 41px;
  padding-bottom: 23px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1;
  background: #34547A;
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 400ms;
}

.button:hover {
  background-color: #0472f8;
}

/* common styles end */

/* header styles */

.header,
.hero {
  background-color: #EEEFF1;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header__inner {
  padding-top: 46px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: header 3s;
}

@keyframes header {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__logo {
   display: inline-block;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__item {
  margin-left: 42px;
}

.header__link {
  font-family: 'Roboto-Medium', sans-serif;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.1em;
  transition-property: color;
  transition-duration: 400ms;
}

.header__link:hover {
  color: #0472f8;
}

.header__menu-btn {
  display: none;
}

/* header styles end */

/* hero styles */

.hero__inner {
  min-height: 700px;
  padding-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  max-width: 540px;
  margin-left: 131px;
  animation: top-content 3s;
  /* animation-delay: 3s; */
}

@keyframes top-content {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero__title {
  margin-bottom: 60px;
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 3em;
  line-height: 1;
  color: #000;
}

.hero__button {
  display: inline-block;
  margin-top: 60px;
}

/* hero styles end */

/* about styles */

.about-top {
  max-width:540px;
  padding-top: 7rem;
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
}

.about-top__title {
  margin-bottom: 50px;
  font-size: 2rem;
}

.about-benefit {
  padding: 100px 0;
  background-color: #34547A;
  color: #fff;
}

.about-benefit__list {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.about-benefit__item {
  width: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.about-benefit__item:last-of-type {
  margin-right: 0;
}

.about-benefit__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.about-benefit__count {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 21px;
}

/* about section end */

/* skills section */

.skills__inner {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__info {
  width: 450px;
}

.skills__title {
  margin-bottom: 50px;
}

.skills__item {
  margin-bottom: 30px;
}

.skills__progress {
  display: block;
  width: 100%;
  height: 4px;
  background: #c4c4c4;
}
 
.skills__progress::-webkit-progress-bar,
.skills__progress::-moz-progress-bar {
  background-color: #c4c4c4;
}
.skills__progress::-webkit-progress-value {
  background-color: #34537a;
}

.skills__progress[attr="value"] {
  background:#34547A;
}

.skills__photo {
  width: 550px;
  height: 450px;
  margin-left: 20px;
}

.skills__photo img {
  width: 550px;
  height: 450px;
  object-fit: cover;
}

/* skills section end */

/* process section */

.process {
  background-color: #EEEFF1;
}

.process__inner {
  padding: 100px 0;
  text-align: center;
}

.process__heading {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 57px;
}

.process__title {
  margin-bottom: 50px;
}

.process__video-box {
  max-width: 1100px;
  height: 600px;
  background: url('../images/video-bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.process__video-play {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* process section end */

/* gallery section */

.gallery__inner {
  padding-top: 28px;
  padding-bottom: 72px;
  margin: 0 auto;
}

.works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery__link {
  display: block;
  max-width: 480px;
  height: 100%;
  position: relative;
}

.gallery__link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('../images/view-icon.svg') center center no-repeat, linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;
}

.gallery__link:hover.gallery__link::after{
  opacity: 1;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.partners__item {
  width: 23%;
  margin-bottom: 30px;
}

.partners__item:last-of-type {
  margin-right: 0;
}

.partners__link {
  display: block;
  /* max-width: 255px; */
  height: auto;
}

.partners__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* gallery section end */

/* contacts section */

.contacts {
  background-color: #EEEFF1;
}

.contacts__inner {
  max-width: 540px;
  padding: 100px 0;
  margin: 0 auto;
  text-align: center;
}

.contacts__title {
  margin-bottom: 50px;
}

.contacts__form {
  margin-top: 65px;
}

.form__row {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
}

.form__input,
.form__textarea {
  padding: 17px 20px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid transparent;
  color: #5F5D5D;
  box-sizing: border-box;
}

.form__input {
  width: 255px;
  height: 100%;
  margin-bottom: 20px;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border: 1px solid #34547A;
}

.form__input:placeholder-shown {
  color: #5F5D5D;
}


.form__textarea {
  width: 100%;
  min-height: 175px;
  resize: none;
  margin-bottom: 50px;
  font-family: "Roboto-Regular", sans-serif;
}

.form__button {
  margin: 0 auto;
  border: none;
}

/* contacts section end */

/* footer */

.footer {
  background-color: #34547A;
}

.footer__inner {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer__author {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer__copyright {
  font-size: 13px;
}

.social {
  display: flex;
  align-items: center;
}

.social__item {
  margin-left: 22px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__link svg {
  transition-property: fill;
  transition-duration: 400ms;
}

.social__link:hover svg {
  fill: #0472f8;
}

/* footer end */


@media screen and (max-width: 1024px) {

  .header__inner {
    padding-top: 25px;
  }

  .header__logo,
  .header__logo img {
    height: 35px;
    width: auto;
  }

  .hero__title {
    margin-bottom: 60px;
    font-size: 2.5em;
  }

}

@media screen and (max-width: 991px) {
  .container {
    padding: 0 40px;
  }

  .button {
    padding: 20px 36px;
    padding-bottom: 18px;
    font-size: 14px;
  }

  .header__item {
    margin-left: 26px;
  }

  .header__link {
    font-size: 15px;
  }

  .hero__inner {
    padding-left: 0;
  }

  .hero__image,
  .hero__image img {
    width: 280px;
    height: auto;
  }

  .hero__content {
    margin-left: 50px;
  }

  .hero__title {
    margin-bottom: 45px;
  }

  .hero__button {
    margin-top: 45px;
  }

  .about-benefit {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .about-benefit__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-benefit__item {
    margin-bottom: 2rem;
  }

  .skills__photo,
  .skills__photo img {
    width: 400px;
    height: auto;
  }

  .skills__list {
    max-width: 400px;
  }

  .process__inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .process__title {
    font-size: 2rem;
  }

  .contacts__title {
    font-size: 2rem;
  }

  .gallery__inner {
    padding-bottom: 1rem;
  }

}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  .title {
    font-size: 1.5rem;
  }

   .header__inner {
    padding-top: 15px;
  }

  .header__logo,
  .header__logo img {
    height: 25px;
    width: auto;
  }

  .header__menu {
    display: none;
  }

  .header__menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }

  .header__menu-elem {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #34547a;
    position: relative;
    }

  .header__menu-elem:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: 8px;
    left: 0;
    background-color: #34547a;
  }

  .header__menu-elem:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: -8px;
    left: 0;
    background-color: #34547a;
  }

  .hero__inner {
    height: auto;
    padding-top: 20px;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .hero__content {
    margin-left: 0;
    text-align: center;
  }

  .hero__title {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  .hero__button {
    margin-top: 2rem;
  }

  .about-top {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .about-top__title {
    margin-bottom: 1em;
  }

  .skills__inner {
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .skills__photo {
    margin-left: 0;
    margin-bottom: 2.5rem;
  }

   .skills__title {
    margin-bottom: 1em;
    text-align: center;
  }

  .skills__info {
    max-width: 400px;
  }

  .process__title {
    margin-bottom: 1em;
  }

  .process__video-box {
    height: 350px;
  }

  .process__video-play,
  .process__video-play img {
    width: 50px;
    height: 50px;
  }

   .partners {
    justify-content: center;
    flex-wrap: wrap;
  }

  .partners__item {
    width: 40%;
  }

  .partners__item:nth-child(odd) {
    margin-right: 30px;
  }

  .contacts__inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .contacts__title {
    margin-bottom: 24px;
  }

  .contacts__form {
    margin-top: 45px;
  }

  .form__row {
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .form__input {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 20px;
  }

  .form__textarea {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .footer__inner {
    padding-top: 35px;
    padding-bottom: 30px;
  }

}

 @media screen and (max-width: 480px) {
   body {
     font-size: 14px;
   }

   .container {
     padding: 0 20px;
   }

   .hero__inner {
     padding-top: 70px;
   }

   .hero__image {
     width: 300px;
   }

   .hero__title {
     font-size: 1.8rem;
   }

   .hero__image img {
     width: 300px;
   }

   .about-top {
     padding-top: 3rem;
     padding-bottom: 3rem;
   }

   .about-benefit__item {
      width: 100%;
      justify-content: center;
      margin-right: 0;
    }

    .skills__inner {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    
    .skills__photo,
    .skills__photo img {
      width: 100%;
      height: auto;
    }

     .skills__info {
      width: 100%;
    }

    .process__inner {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .process__heading {
      margin-bottom: 2rem;
    }

    .process__video-box {
      height: 200px;
    }

    .works {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

    .contacts__inner {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    
    .contacts__form {
      margin-top: 35px;
    }

    .form__row,
    .form__textarea {
      width: 100%;
    }

    .form__input,
    .form__textarea {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .footer__inner {
      padding-top: 25px;
      padding-bottom: 25px;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }

    .footer__author {
      font-size: 18px;
    }

}
 
